/*
It's OK to love styling this much!
*/

body {
	padding-left: 50px;
	font-family: Helvetica;
	font-size: medium;
	color: #666666;
	width: 290px;
}

h1 {
	color: #333333;
}

a {
	text-decoration: none;
}

a.hover {
	text-decoration: underline;
}

#footer {
	padding-top: 100px;
	font-size: small;
	color: #cccccc;
}

#footer a {
	font-weight: bold;
	color: #cccccc;
}