/*
It's OK to love styling this much!
*/


/* Reset
Exerpt from:
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
p
h2,
h3,
h4,
h5{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*/

body {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: medium;
	color: #666666;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #94003f;
}

h1 {
	font-size: 4em;
	line-height: 1em;
}

h2 {
	font-size: 2em;
	line-height: 1em;
}

a {
	text-decoration: none;
	color: #94003f;
}

a.hover {
	text-decoration: underline;
}

p {
	padding-bottom: 1em;
}

.clear {
	clear: both;
}

.leader {
	font-size: 1.3em;
}

.panel {
	border: 1px solid #ffffff;
	float: left;
	width: 220px;
	padding: 10px;
}

.content {
	border: 1px solid #ffffff;
	padding: 10px;
}

.separator {
	border-bottom: 1px dotted #999999;
	padding: 10px 0 10px 0;
}

#page {
	border: 1px solid #ffffff;
	padding: 0;
	margin: 0 auto;
	width: 968px;
}

#header {
	padding: 20px;
}

#grapevine_pane {
	float: right;
}

.grapevine_text {
	font-size: smaller;
}

#content {
	clear: both;
}

#contact_form {
	margin-left: 250px;
}

#footer {
	clear: both;
	text-align: center;
	padding-top: 100px;
	padding-top: 50px;
	font-size: small;
	color: #cccccc;
}

#footer a {
	font-weight: bold;
	color: #cccccc;
}